<div class="col-md-12 col-lg-6 ">
			<div class="card">
				<div class="card-header card-primary card-inverse">
					<span class="card-title">360 Encompass
					</span>
				</div>
				<div class="card-block">
					<h1>Heading 1 <small>Sub-heading</small> </h1> 
					<h2>Heading 2 <small>Sub-heading</small> </h2> 
					<h3>Heading 3 <small>Sub-heading</small> </h3> 
					<h4>Heading 4 <small>Sub-heading</small> </h4>
					<h5>Heading 5 <small>Sub-heading</small> </h5> 
					<h6>Heading 6 <small>Sub-heading</small> </h6>
					<p class="lead">This is an example of lead body copy.</p>
					<p>This is an example of standard paragraph text. This is an example of <a href="#">link anchor text</a> within body copy.</p> 
					<p> <small>This is an example of small, fine print text.</small> </p> 
					<p> <strong>This is an example of strong, bold text.</strong> </p> 
					<p class="m-b-0"> <em>This is an example of emphasized, italic text.</em> </p> <br> 
				</div>
			</div>
		</div>